/* ------------------ */
/* Custom properties */
/* --------------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* Fonts Sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 90.9375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

  /* Font Families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}
/* 35em is equal to 560px */
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

/* 45em is for mobile */
@media (min-width: 45em) {
  :root {
   /* Fonts Sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* ------------------ */
/* Reset */
/* ------------------ */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove Default Margins */
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 500;
}

/* Scrolling */
html:focus-within {
  scroll-behavior: smooth;
}

/* Reset Body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  min-height: 100vh;
  line-height: 1.5;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

/* Reset List style */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make Form elements easier to work with */
input,
select,
button,
textarea {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility Classes */
/* ------------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > * + *{
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: .5rem;
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Colors */
.bg-dark { background-color: hsl(var(--clr-dark));}
.bg-accent { background-color: hsl(var(--clr-light));}
.bg-white { background-color: hsl(var(--clr-white));}

.text-dark { color: hsl(var(--clr-dark));}
.text-accent { color: hsl(var(--clr-light));}
.text-white { color: hsl(var(--clr-white));}

#colors-div {
  padding: 3rem 1rem 1rem;
  border: 1px solid white;
}

/* Typography */
.ff-serif {font-family: var(--ff-serif)}
.ff-sans-cond {font-family: var(--ff-sans-cond)}
.ff-sans-normal {font-family: var(--ff-sans-normal)}

.letter-spacing-1 { letter-spacing: 4.75px;}
.letter-spacing-2 { letter-spacing: 2.7px;}
.letter-spacing-3 { letter-spacing: 2.35px;}

.uppercase { text-transform: uppercase;}

.fs-900 {font-size: var(--fs-900)}
.fs-800 {font-size: var(--fs-800)}
.fs-700 {font-size: var(--fs-700)}
.fs-600 {font-size: var(--fs-600)}
.fs-500 {font-size: var(--fs-500)}
.fs-400 {font-size: var(--fs-400)}
.fs-300 {font-size: var(--fs-300)}
.fs-200 {font-size: var(--fs-200)}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: .5em;
  font-weight: 700;
  color: hsl(var(--clr-white)/ .25);
}

/* -------------------- */
/* Components */
/* -------------------- */
.large-button {
  font-size: 2rem;
  display: inline-grid;
  position: relative;
  padding: 0 2em;
  aspect-ratio: 1;
  border-radius: 50%;
  place-items: center;
  text-decoration: none;
  z-index: 1;
}

.large-button::after {
  content: '';
  position: absolute;
  background-color: hsl(var(--clr-white) / .15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 500ms linear, transform 500ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* Primary Header */
.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl( var(--clr-white) / 0.05);
  backdrop-filter: blur(1.5rem);
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: .5em;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35em) {
  .primary-navigation {
  flex-direction: column;
  position: fixed;
  inset: 0 0 0 30%;
  z-index: 1000;
  --underline-gap: .5rem;
  list-style: none;
  padding: min(20rem, 15vh) 2rem;
  margin: 0;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .primary-navigation.underline-indicators > .active {
    border: 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    border: 0;
    background: transparent;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1.5rem;
    aspect-ratio: 1;
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url(./assets/shared/icon-close.svg);
  }
  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 7vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primary-header::after {
    content: '';
    display: block;
    position: relative;
    background: hsl( var(--clr-white) / .25);
    height: 1px;
    width: 100%;
    order: 1;
    margin-right: -2.5rem;
  }

  nav {
    order: 2;
  }

  .primary-navigation {
    margin-block: 2rem;
  }
}

.underline-indicators > *{
  cursor: pointer;
  padding: var(--underline-gap, .5rem) 0;
  border: 0;
  border-bottom: 2px solid hsl(var(--clr-white) / 0);
  background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-bottom: 2px solid hsl(var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [area-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-bottom: 2px solid hsl(var(--clr-white) / 1);
}

.tab-list {
  --gap: 3rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: .5em;
  background-color: hsl( var(--clr-white) / .25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl( var(--clr-white) / 1); 
}

/* ---------------------------*/
/* Page Specific backgrounds*/
/* --------------------------*/
body {
  background-size: cover;
  background-position: bottom center;
}
/* Home */
.home {
  background-image: url("./assets/home/background-home-mobile.jpg");
}

@media (min-width: 35em) {
  .home {
    background-position: center center;
  background-image: url("./assets/home/background-home-tablet.jpg");
}
}

@media (min-width: 45em) {
  .home {
  background-image: url("./assets/home/background-home-desktop.jpg");
  }
}

/* destination */
.destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem) {
    .destination {
        background-position: center center;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .destination {
        background-image: url(./assets/destination/background-destination-desktop.jpg);
    }
} 

/* crew */
.crew {
  background-image: url(./assets/home/background-crew-mobile.jpg);
}

@media (min-width: 35rem) {
    .crew {
      background-position: center center;
      background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .crew {
      background-image: url(./assets/crew/background-crew-desktop.jpg);
    }
} 

/* ---------------------------*/
/* Layout                    */
/* --------------------------*/
.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.grid-container p([class]){
  max-width: 50ch;
}

.numbered-title {
  grid-area: title;
}

/* destination layout */
.grid-container--destination {
  --flow-space: 2rem ;
  grid-template-areas: 
    'title'
    'image'
    'tabs'
    'content'
  ;
}

.grid-container--destination > img {
  grid-area: image;
  max-width: 60%;
}

.grid-container--destination > .tab-list {
  grid-area: tabs;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl( var(--clr-white) / .1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.destination-meta p {
  font-size: 1.75rem;
}

/* Crew layout */
.grid-container--crew {
  --flow-space: 2rem ;
  grid-template-areas: 
    'title'
    'image'
    'tabs'
    'content'
  ;
}

.grid-container--crew > img {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl( var(--clr-white) / .1);
}

.grid-container--crew > .dot-indicators {
  grid-area: tabs;
}

.grid-container--crew > .crew-details {
  grid-area: content;
}

.crew-details h2 {
  opacity: .5;
}

@media (min-width: 35em) {
  .numbered-title {
    justify-self: start;
    margin-top: 2rem;
  }

  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .grid-container--crew {
    padding-bottom: 0;
    grid-template-areas: 
    'title'
    'content'
    'tabs'
    'image';
  }
}

@media (min-width: 45em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }

  .grid-container--home > *:first-child {
    grid-column: 2;
    /* outline: 1px solid red; */
  }

  .grid-container--home > *:last-child {
    grid-column: 3;
    /* outline: 1px yellow solid; */
  }

  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas: 
    '. title title .'
    '. image tabs .'
    '. image content .'
  }

  .grid-container--destination > img,
  .grid-container--crew > img {
    max-width: 90%;
  }

  .destination-meta {
    --gap: min(6vw, 6rem);
    justify-content: start;
  }

  .grid-container--crew {
    padding-bottom: 0;
    grid-template-areas: 
    '. title title .'
    '. content image .'
    '. tabs image .'
  }

  .grid-container--crew > .dot-indicators{
    justify-self: start;
  }

  /* .grid-container--crew > img{
    align-self: end;
  } */
}














